body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    min-height: 60vh;
}

.left-section {
    width: 20%;
    background-color: #2c3e50;
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-section h1 {
    margin-bottom: 10px;
}

.header-contact {
    margin-top: 20px;
    font-size: 14px;
}

.right-section {
    width: 70%;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.right-section img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.skills {
    padding: 10px;
    background-color: whitesmoke;
}

.skills ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.skills li {
    font-weight: bold;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
}


.projects {
    padding: 40px;
    background-color: white;
}

.project {
    margin-bottom: 20px;
}

.resume {
    padding: 35px;
    background-color: #ecf0f1;
}

.resume a {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
}


footer {
    background-color: #26323e;
    color: rgb(181, 177, 177);
    text-align: center;
    padding: 15px;
}
